<div class="signup">
  <div class="sign-form pl-4 pr-4">
    <div class="d-flex flex-column text-center form-text">
      <p class="logo form-logo p-0 m-0" [routerLink]="['']">Atara</p>
      <p class="accent-text">Login <span class="extra-text">or 
        <span class="log-second-btn border" [routerLink]="['/atara/signup']">Sign up</span>
      </span></p>
      <p class="power-text mb-4">Login into your account here.</p>
      <form [formGroup]="loginForm" class="signUpForm pl-1 pr-1" (ngSubmit)="logIn()">
        <div class="form-input">
          <label>Email</label>
          <mat-form-field appearance="fill" class="input-ng">
            <input matInput [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="form-input">
          <label>Password</label>
          <mat-form-field appearance="fill" class="input-ng">
            <span class="pass-btn d-flex">
              <img *ngIf="hide === false" (click)="hide = !hide" src="../../assets/icons/pass-hide.png">
              <img *ngIf="hide === true" (click)="hide = !hide" src="../../assets/icons/pass-show.png">
            </span>
            <input  id="pass-input" matInput minlength="8" maxlength="14" [formControl]="password" [type]="hide ? 'password' : 'text'" required>
          </mat-form-field>
        </div>        
        <div class="from-btns mt-3">
          <button mat-button class="cancel-btn mr-2" [routerLink]="['']" type="button">Cancel</button>
          <button mat-button class="confirm-btn ml-2" type="submit" [disabled]="loginForm.invalid">Confirm</button>
        </div>
      </form>
    </div>
  </div>
  <div class="position-relative signup-part">
    <div class="overlay"></div>
    <p class="logo p-0 m-0 mt-3" [routerLink]="['']">Atara</p>
    <div class="log-text">
      <p class="title">Welcome friend!</p>
      <p class="subtitle">Be the first to know about the latest <span class="br-text">fashion news and get exclusive offers.</span></p>
      <button mat-button class="border border-white log-btn mt-2" [routerLink]="['/atara/signup']" type="button">Sign Up</button>
    </div>
  </div>
</div>