.cart-container
    width: 90%
    margin: auto
    @media screen and ( max-width: 1218px )
        width: 85%
    @media screen and ( max-width: 1100px )
        width: 90%
    @media screen and ( max-width: 950px )
        width: 60% 
    @media screen and ( max-width: 870px )
        width: 70%      
    @media screen and ( max-width: 510px )
        width: 55%  
    @media screen and ( max-width: 440px )
        width: 65%  
    @media screen and ( max-width: 440px )
        width: 70%  

// Cart products    
.cart
    padding-top: 2em
    display: grid
    grid-template-columns: 33.3% 33.3% 33.3%
    font-family: 'Poppins', sans-serif
    font-size: 2.5vh
    font-weight: 500
    color: #f5f5f5
    @media screen and ( max-width: 1218px )
        grid-template-columns: 50% 50%
    @media screen and ( max-width: 950px )
        display: block  
    @media screen and ( max-width: 510px )
        padding-top: 0.3em

.show-prod-btn
    margin-top: 4.5em !important
    max-width: 100% !important
    color: #f5f5f5
    font-weight: 500
    background-color: rgb(0, 0, 0, 0.4)
    &:hover
        background-color: rgb(0, 0, 0, 0.6)

img
    width: 100%
    height: 100%
    object-fit: cover
    border: solid 0.1em #f5f5f5

.cart-product
    display: grid
    grid-template-columns: 35% 75%
    @media screen and ( max-width: 760px )
        grid-template-columns: 40% 60%
    @media screen and ( max-width: 510px )
        display: block

.cart-border
    width: 100%
    border: solid 0.1em #f5f5f5

.cart-name
    letter-spacing: 0.05em
    @media screen and ( max-width: 1218px )
        font-size: 2.7vh
        margin-bottom: 1em !important
    @media screen and ( max-width: 510px )
        display: none

.cart-details
    display: grid
    grid-template-columns: 35% 65%
    font-size: 2vh
    @media screen and ( max-width: 1218px )
        font-size: 2.5vh
    @media screen and ( max-width: 930px )
        grid-template-columns: 40% 60%
    @media screen and ( max-width: 760px )
        grid-template-columns: 50% 50%
    @media screen and ( max-width: 500px )
        padding-top: 1em
    @media screen and ( max-width: 400px )
        font-size: 2.2vh
        margin-bottom: 3em !important
        
.cart-tags
    color: #BE42B7

.product-info
    > span, > div
        margin-bottom: 1.5em
        @media screen and ( max-width: 500px )
            margin-bottom: 0.5em
    
.product-color
    width: 1.2vw
    height: 1.2vw
    border-radius: 50%
    margin-right: 0.3em
    @media screen and ( max-width: 1218px )
        width: 1.5vw
        height: 1.5vw
    @media screen and ( max-width: 950px )
        width: 2vw
        height: 2vw
    @media screen and ( max-width: 710px )
        width: 2.5vw
        height: 2.5vw
    @media screen and ( max-width: 580px )
        width: 3vw
        height: 3vw
    @media screen and ( max-width: 480px )
        width: 3.5vw
        height: 3.5vw
    @media screen and ( max-width: 450px )
        margin-top: 0.2em
    @media screen and ( max-width: 350px )
        margin-top: 0.5em
     
:host 
    ::ng-deep 
        .mat-button
            border-radius: 0
            max-width: 50%
            font-size: 2vh
            line-height: 2.5vh
            height: 2.5vh
            font-weight: 400
            outline: none

.cart-btns
    width: 100%
    position: absolute
    bottom: 0
    display: grid
    grid-template-columns: 35% 65%
    grid-gap: 0.5em
    @media screen and ( max-width: 760px )
        grid-template-columns: 45% 60%

.hide
    display: inline-block
    @media screen and ( max-width: 830px )
        display: none

.img-name
    display: none
    margin-bottom: 0.3em !important
    @media screen and ( max-width: 510px )
        display: block
    &:first-child
        border-top: none !important

.hide-detail
    @media screen and ( max-width: 340px )
        display: none
        
.show-detail
    display: none
    @media screen and ( max-width: 340px )
        display: block

.more
    width: 100%
    text-align: center
    color: #f5f5f5
    font-size: 3vh
    font-weight: 600

.product-margin
    margin-bottom: 1em !important

:host
    ::ng-deep
        .cart-btn
            border-radius: 0
            width: 100% !important
            font-size: 2.5vh
            line-height: 2.5vh
            height: 5.5vh
            font-weight: 400
            @media screen and ( max-width: 400px )
                font-size: 2vh
                height: 4vh
    .delete-btn
        max-width: 95% !important
        background-color: rgb(0, 0, 0, 0.4) !important
        &:hover
            background-color: rgb(0, 0, 0, 0.6) !important
    .cart-cart-btn
        background-color: rgb(203, 68, 169, 0.4) !important
        &:hover
            background-color: rgb(203, 68, 169, 0.6) !important
        @media screen and ( max-width: 760px )
            max-width: 75% !important
            

// Place order
.order
    display: grid
    grid-template-columns: 50% 50%
    color: #f5f5f5
    font-size: 2vh
    letter-spacing: 0.1em
    @media screen and ( max-width: 950px )
        display: block

.hide-order
    @media screen and ( max-width: 950px )
        display: none

.select-address
    @media screen and ( max-width: 950px )
        padding-right: 0 !important
        
.select-payment
    @media screen and ( max-width: 950px )
        border-left: none !important
        padding: 2em 0 3em 0 !important       

.order-padding
    margin-top: 4em !important

.order > div
    width: 100%

:host
    .radio-container
        font-size: 2vh
        line-height: 2.5vh
    .radio-check, .checkmark
        width: 1.3vw
        height: 1.3vw
        @media screen and ( max-width: 1060px )
            width: 1.7vw
            height: 1.7vw
        @media screen and ( max-width: 870px )
            width: 1.8vw
            height: 1.8vw
        @media screen and ( max-width: 710px )
            width: 2.2vw
            height: 2.2vw
        @media screen and ( max-width: 640px )
            width: 2.4vw
            height: 2.4vw
        @media screen and ( max-width: 590px )
            width: 2.6vw
            height: 2.6vw
        @media screen and ( max-width: 510px )
            width: 3.1vw
            height: 2.8vw
        @media screen and ( max-width: 410px )
            width: 4.2vw
            height: 3.5vw
        @media screen and ( max-width: 350px )
            width: 4vw
            height: 4vw
    .inner-check
        @media screen and ( max-width: 1060px )
            width: 1.2vw
            height: 1.2vw
        @media screen and ( max-width: 870px )
            width: 1.4vw
            height: 1.4vw
        @media screen and ( max-width: 710px )
            width: 1.7vw
            height: 1.7vw
        @media screen and ( max-width: 640px )
            width: 1.9vw
            height: 1.9vw
        @media screen and ( max-width: 590px )
            width: 2.1vw
            height: 2.1vw
        @media screen and ( max-width: 510px )
            width: 2.3vw
            height: 2.3vw
        @media screen and ( max-width: 410px )
            width: 2.5vw
            height: 2.5vw
    
::ng-deep .btn
    font-size: 2vh 
    font-family: 'Poppins', sans-serif
    font-weight: 500
    line-height: 2.5vh
    height: 2.5vh
    width: 100%

.add-address-btn
    max-width: 100% !important
    background-color: rgb(203, 68, 169, 0.4)
    &:hover
        background-color: rgb(203, 68, 169, 0.8)

.order-btn
    max-width: 100% !important
    position: absolute
    bottom: 0
    background-color: rgba(17,203,219,0.4)
    &:hover
        background-color: rgba(17,203,219,0.8)

// Add new address form
.address-container
    font-size: 2vh 
    font-family: 'Poppins', sans-serif
    font-weight: 500
    color: #f5f5f5
    > p
        font-weight: 600
        font-size: 2vh
        letter-spacing: 0.1em
    @media screen and ( max-width: 950px )
        margin-top: 3.5em !important
        

.address-form-group, .address-btns
    display: grid
    grid-template-columns: 50% 50%

.form-input
    padding-bottom: 1em
    display: grid
    grid-template-columns: 20% 80%
    @media screen and ( max-width: 950px )
        padding-left: 0 !important
        margin-right: 0 !important 
    @media screen and ( max-width: 705px )
        display: block
        margin-right: 0 !important
        > p
            margin-bottom: 0.5em !important      

.cancel-btn
    width: 100%
    background-color: rgb(0, 0, 0, 0.4)
    &:hover
        background-color: rgb(0, 0, 0, 0.6)
    @media screen and ( max-width: 950px )
        max-width: 100% !important
        width: 100% !important
        margin-right: 0 !important
        margin-bottom: 1em
        
.address-btn
    margin: auto
    max-width: 100% !important
    width: 100%
    background-color: rgb(203, 68, 169, 0.4)
    &:hover
        background-color: rgb(203, 68, 169, 0.8)
    @media screen and ( max-width: 950px )
        margin-left: 0 !important

// Add new card to user
.form-input-card
    display: grid
    grid-template-columns: 20% 80%
    @media screen and ( max-width: 1200px )
        padding-bottom: 0 !important
        display: block
        > p
            margin-bottom: 0.5em !important
        > div 
            margin-bottom: 1em !important
        > .input-ng
            width: 100% !important
    @media screen and ( max-width: 950px )
        padding-left: 0 !important  
        margin-right: 0 !important
        border-left: none !important      

.card-input
    @media screen and ( max-width: 1200px )
        display: grid
    &:first-child
        @media screen and ( max-width: 1065px )
            grid-template-columns: 22% 78%
        @media screen and ( max-width: 605px )
            grid-template-columns: 25% 75%
        @media screen and ( max-width: 550px )
            display: block

.exp-date
    @media screen and ( max-width: 1200px )
        padding-bottom: 1em !important
    @media screen and ( max-width: 950px )
        display: none    

.card-text
    @media screen and ( max-width: 950px )
        margin-bottom: 0.5em !important            

.address-form-group
    > span, div
        font-size: 2vh
        font-weight: 600
    @media screen and ( max-width: 950px )
        display: block
  
.add-card-btn
    max-width: 100% !important
    width: 100% !important
    background-color: rgba(17,203,219,0.4)
    &:hover
        background-color: rgba(17,203,219,0.8)
    @media screen and ( max-width: 950px )
        margin-left: 0 !important        

.address-form-group, .order
    ::ng-deep
        .mat-button
            max-width: 95%
            border: none
            display: inline-block
            text-decoration: none
            color: #f5f5f5
            font-family: 'Poppins', sans-serif
            font-size: 2vh
            line-height: 2.5vh
            height: 5.5vh
            font-weight: 500
            cursor: pointer 
            
// Form inputs
.address-container
    ::ng-deep 
        .mat-form-field-subscript-wrapper
            font-size: 70%
            margin-top: 0
            padding-left: 0
            font-family: 'Poppins', sans-serif
            font-weight: 500
            letter-spacing: 0.1em
            

        .mat-form-field
            line-height: 2.5vh
            align-items: middle
            @media screen and ( max-width: 950px )
                max-width: 100% !important
                width: 100% !important                

        .mat-error, .mat-hint
            color: #11cbdb

        .mat-form-field-ripple
            background-color: rgb(17, 203, 219,0.5)

        .mat-icon-button
            line-height: 2.5vh
            width: 2.5vw
            height: 2.5vh

        .mat-form-field-infix
            padding: 0.5em 0.5em
            border-top: none
        
        .mat-input-element
            color: #737373
            font-family: 'Poppins', sans-serif
            font-weight: 500
            font-size: 2vh
            line-height: 2.5vh
            vertical-align: middle

.country-input
    @media screen and ( max-width: 950px )
        margin-right: 0 !important

.postal-input
    @media screen and ( max-width: 950px )
        padding-left: 0 !important

.no-products-text
    font-size: 4vh
    font-weight: 500
    color:  rgb(17, 203, 219,0.5)
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)