$textColor: #f5f5f5
    
.user
    height: 95vh
    padding-top: 4.5em
    display: grid
    grid-template-columns: 25% 75%
    color: $textColor
    font-size: 2vh
    @media screen and ( max-width: 825px )
        display: block

// Side navigation
.side-nav
    ::ng-deep
        font-size: 2vh
    @media screen and ( max-width: 825px )
        display: flex
        border-right: none !important
        margin-bottom: 1em
    @media screen and ( max-width: 700px )
        padding-top: 0 !important
    @media screen and ( max-width: 320px )
        display: block                

.main-nav
    @media screen and ( max-width: 825px )
        display: none
        border-bottom: none !important
        padding-bottom: 0 !important

.welcome-text
    font-size: 2.5vh
    font-weight: 500
    @media screen and ( max-width: 825px )
        margin-bottom: 1em !important
    @media screen and ( max-width: 320px )
        text-align: center

.nav-text
    @media screen and ( max-width: 825px )
        display: none

.logout-btn
    cursor: pointer
    color: rgb(0, 0, 0, 0.8)
    font-size: 2.5vh
    font-weight: 500
    &:hover
        font-size: 2.7vh
        font-weight: 600
    @media screen and ( max-width: 825px )
        display: none

.logout-second-btn
    display: none
    @media screen and ( max-width: 825px )
        display: block
        position: absolute
        right: 0
    @media screen and ( max-width: 700px )
        margin-top: 0.8em !important 
    @media screen and ( max-width: 320px )
        position: relative
        // width: 30%
        margin: auto
        text-align: center    

img
    padding: 0
    width: 2vw
    height: 2vw

.side-img
    @media screen and ( max-width: 780px )
        display: none
    @media screen and ( max-width: 700px )
        width: 1.6em
        height: 1.6em
        display: block
    
.user-options
    @media screen and ( max-width: 825px )
        flex-direction: row !important
        margin-top: 0 !important
    @media screen and ( max-width: 320px )
        justify-content: space-between            

.side-nav-option
    cursor: pointer
    @media screen and ( max-width: 825px )
        padding: 0.8em 1em 0.5em 1em !important
        border-bottom: none !important
        border-right: solid 0.1em #f5f5f5
        &:first-of-type
            padding-left: 0 !important
    @media screen and ( max-width: 700px )
        border: none !important  
            
.user-side-text, .user-text
    line-height: 4vh
    color: #cfc9ba
    @media screen and ( max-width: 970px )
        line-height: 3vh
    @media screen and ( max-width: 825px )
        line-height: 2.5vh
    @media screen and ( max-width: 780px )
        margin-left: 0 !important

.user-side-text
    @media screen and ( max-width: 700px )
        display: none                

.user-side-text-color
    color: #09B0C8
    @media screen and ( min-width: 1100px )
        font-size: 2.2vh
        line-height: 4.2vh

// Personal data
.user-container
    width: 90%
    margin: auto
    @media screen and ( max-width: 825px )
        width: 85%
    @media screen and ( max-width: 780px )
        width: 80%              
    
.user-rsp-container
    width: 90%
    margin: auto
    @media screen and (min-width: 831px) and ( max-width: 1000px )
        margin-left: 3em 
    @media screen and ( max-width: 825px )
        width: 100%    
    
.user-text
    font-size: 2.2vh
    color: #3C404C

.small-img
    width: 1.4em
    height: 1.4em
    padding: 0
    margin-top: 0.3em
    margin-right: 0.3em
    @media screen and ( max-width: 980px )
        margin-top: 0.2em  
        width: 1.25em
        height: 1.25em  
    @media screen and ( max-width: 825px )
        margin-top: 0
        width: 1.25em
        height: 1.25em        

.password-img
    width: 1.6em
    height: 1.6em
    @media screen and ( max-width: 980px ) 
        width: 1.45em
        height: 1.45em 
    @media screen and ( max-width: 970px )
        margin-top: 0
    @media screen and ( max-width: 824px )
        padding: 0
        margin-right: 0.3em
        width: 1.35em
        height: 1.35em     

.password-text
    @media screen and ( max-width: 455px )
        display: none                  

.user-header
    background-color: #09B0C8
    ::ng-deep    
        .matt-button, .mat-icon-button
            line-height: 2.5vh
            padding: 0

.personal-data-main, .orders-main, .addresses-main, .cards-main
    display: grid
    grid-template-columns: 40% 60%
    > div > p
        padding: 0.5em 0
        margin: 0
        font-weight: 500
        font-size: 2vh
    > p
        padding: 0.5em 0 
        margin: 0
        font-weight: 500
        &:first-of-type
            font-weight: 600
            color: rgba(17,203,219,0.5)

.personal-data-main
    @media screen and ( max-width: 430px )
        grid-template-columns: 45% 55%  
    @media screen and ( max-width: 350px )
        grid-template-columns: 50% 50%      
    @media screen and ( max-width: 320px )
        grid-template-columns: 55% 45%   

:host
    ::ng-deep
        .mat-form-field
            width: 90%

.password
    line-height: 2.5vh
    font-size: 2vh
    color: #f5f5f5
    ::ng-deep    
        .matt-button, .mat-icon-button
            line-height: 2.5vh
            padding: 0

.user-btn
    line-height: 2.5vh
    font-size: 2vh
    padding: 0
    min-width: 3vw
    > div
        width: 60%
        margin: auto
    @media screen and (min-width: 825px) and ( max-width: 1202px )
        > div
            width: 100%

// Perosnal data edit
.edit-container
    display: grid
    grid-template-columns: 50% 50%
    @media screen and ( max-width: 550px )
        display: block
        > div
            margin: 0 !important

.input-ng
    @media screen and ( max-width: 550px )
        max-width: 100% !important

.form-label
    @media screen and ( max-width: 550px )
        margin-bottom: 0.5em !important

.gender-input
    @media screen and ( max-width: 550px )
        flex-direction: row !important
        > div
            margin-left: 1em
            margin-top: 0.2em
    @media screen and ( max-width: 350px )
        flex-direction: column !important
        > div
            margin: 0
            margin-bottom: 1em

.gender-options
    @media screen and ( max-width: 550px )
        padding-top: 0.3em !important 
        

.submit-btn, .cancel-btn
    ::ng-deep
        margin-right: 4em
        width: 90%
        font-size: 2.2vh
        line-height: 2.5vh
        padding: 0.5em 0 

.cancel-btn
    ::ng-deep
        width: 85%
        @media screen and ( max-width: 550px )
            width: 90%
            margin-bottom: 0.5em !important            

.submit-btn
    background-color: rgba(17,203,219,0.5)
    &:hover
        background-color: rgba(17,203,219,0.8)

.cancel-btn
    background-color: rgb(0, 0, 0, 0.4)
    &:hover
        background-color: rgb(0, 0, 0, 0.6)

.editForm
    ::ng-deep    
        .matt-button, .mat-icon-button
            line-height: 2.5vh
            padding: 0

::ng-deep
    .radio-container
        font-size: 2vh
    .radio-check, .checkmark
        @media screen and ( max-width: 825px )
            width: 2vw
            height: 2vw
        @media screen and ( max-width: 550px )
            width: 3vw
            height: 3vw
        @media screen and ( max-width: 390px )
            width: 3.5vw
            height: 3.5vw
        @media screen and ( max-width: 330px )
            width: 4vw
            height: 4vw
    .inner-check
        @media screen and ( max-width: 825px )
            width: 1.5vw
            height: 1.5vw
        @media screen and ( max-width: 550px )
            width: 1.8vw
            height: 1.8vw
        @media screen and ( max-width: 390px )
            width: 2.2vw
            height: 2.2vw
        @media screen and ( max-width: 330px )
            width: 2.5vw
            height: 2.5vw

// Orders
.order-summary
    > div
        display: grid
        grid-template-columns: 35% 17% 18% 15% 15%
    > .order-products 
        font-weight: 500
        font-size: 2vh
        > p, > div > p
            font-weight: 500
            font-size: 2vh
    @media screen and ( max-width: 510px )
        display: block
        > div
            display: none
        > .order-products
            margin-top: 0.5em
            display: grid
            grid-template-columns: 50% 50%
            border-bottom: solid 0.1em #f5f5f5
    @media screen and ( max-width: 370px )
        > .order-products
            display: block

.orders-main
    grid-template-columns: 25% 75%
    @media screen and ( max-width: 725px )
        grid-template-columns: 30% 70%
    @media screen and ( max-width: 550px )
        grid-template-columns: 40% 60%
    @media screen and ( max-width: 415px )
        grid-template-columns: 50% 50%

.orders-main-summary
    @media screen and ( max-width: 850px )
        display: block
        > p 
            display: none
    @media screen and ( max-width: 510px )
        > p
            display: block
            border-bottom: solid 0.1em #f5f5f5

.order-detail
    > .order-detail-name
        display: none
    @media screen and ( max-width: 510px )
        display: grid
        grid-template-columns: 35% 65%
        > .order-detail-name
            display: block
    @media screen and ( max-width: 425px )
        grid-template-columns: 40% 60%
    @media screen and ( max-width: 370px )
         grid-template-columns: 50% 50%       
        
.product-color
    width: 1.1vw
    height: 1.1vw
    border-radius: 50%
    margin-right: 0.3em !important
    @media screen and ( max-width: 1450px )
        margin-top: 0.3em !important
    @media screen and ( max-width: 1040px )
        width: 1.3vw
        height: 1.3vw
    @media screen and ( max-width: 850px )
        width: 1.5vw
        height: 1.5vw
    @media screen and ( max-width: 825px )
        width: 1.7vw
        height: 1.7vw
    @media screen and ( max-width: 650px )
        width: 1.9vw
        height: 1.9vw
    @media screen and ( max-width: 585px )
        width: 2.1vw
        height: 2.1vw
    @media screen and ( max-width: 515px )
        width: 2.3vw
        height: 2.3vw
    @media screen and ( max-width: 480px )
        width: 2.7vw
        height: 2.7vw
    @media screen and ( max-width: 400px )
        width: 3vw
        height: 3vw
    @media screen and ( max-width: 370px )
        width: 3.5vw
        height: 3.5vw
    @media screen and ( max-width: 310px )
        width: 3.8vw
        height: 3.8vw

.product-size
    margin-right: 0.3em

// Addresses
.addresses-container
    @media screen and ( max-width: 350px )
        > .addresses-main
            display: block
            margin-bottom: 0.3em
            > p
                padding: 0.1em 0

// Cards
.cards-container
    @media screen and ( max-width: 415px )
        padding: 1em !important
    @media screen and ( max-width: 400px )
        > .cards-main
            display: block
            margin-bottom: 0.3em
            > p
                padding: 0.1em 0
        